// Набір кольорів
$main-color: #FF9900;
$text-color: rgb(54, 54, 54);
$lite-text: #e0dfdf;
$main-bg: #e9e8e8;
$header-bg: #d4d3d3;
$second-bg: #f5f4f4;
$mobile-bg: #dbdbdb;
$border: 1px solid #807c7c;

$transition: all .3s;